<div>
	<h2>Agregar Servicio</h2>
	<% form_for(:servicio, :url => {:action => "crear", :id => @servicio} ) do |s| %>
	<%= render(:partial => "form", :locals => {:s => s}) %>
	<div>
		<%= submit_tag("Agregar") %>
	</div>
	<%end%>
</div>
