<%if object && object.errors.size > 0 %>
<div>
	<p>Ocurrieron los siguientes errores</p>
	<ul>
		<% object.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
	</ul>
</div>
<% end %>
