<div summary="menu">
	<ul>
		<li><% redirect_to(:controller => 'clientes', :action => 'lista')%></li>
		<li><% redirect_to(:controller => 'clientes', :action => 'nuevo')%></li>
		<li><% redirect_to(:controller => 'clientes', :action => 'editar')%></li>
	</ul>
</div>
