<div class="footer">
	<div class="flash_notice"></div>
	<p>Derechos Reservados TU VISA - Calzada del Valle #400 Ote. Desp. 412 Col. Del Valle, 
San Pedro Garza García, N.L. C.P. 66220 
Teléfonos. (81) 8356-2672 / 74 / 78 / 80 </p>
</div>