<div class="app_header">
	<%= image_tag("header_text.png", :class => "header_text") %>
	<%= image_tag("header_logo.png", :class => "header_logo", :size => "50x50") %>
  <span class="toolbar">
		<%= link_to("Menu", :controller => 'home', :action => 'index')%>
	</span>
</div>